body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
    font-size: 3rem;
    color: #df3409;
  }
  
  
  .buffer {
    height: 10rem;
  }
  
  .btn {
    font-weight: 700;
    border-radius: 300px;
    text-transform: uppercase;
    margin-top: 140px;
  }
  
  .btn-primary {
    background-color: #df3409;
    border-color: #df3409;
  }
  
  .btn-primary:hover {
    background-color: #df3409;
    border-color: #df3409;
    border-width: 4px;
  }
  
  .btn-xl {
    padding: 1rem 2rem;
  }